:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(34, 33, 33, 0.87);
  /* background-color: #d7d7d7; */
  background: radial-gradient(circle at 50% 100%, #eeeeee80 5%, #eeeeee 5% 10%, #eeeeee80 10% 15%, #eeeeee 15% 20%, #eeeeee80 20% 25%, #eeeeee 25% 30%, #eeeeee80 30% 35%, #eeeeee 35% 40%, transparent 40%), radial-gradient(circle at 100% 50%, #eeeeee80 5%, #eeeeee 5% 10%, #eeeeee80 10% 15%, #eeeeee 15% 20%, #eeeeee80 20% 25%, #eeeeee 25% 30%, #eeeeee80 30% 35%, #eeeeee 35% 40%, transparent 40%), radial-gradient(circle at 50% 0%, #eeeeee80 5%, #eeeeee 5% 10%, #eeeeee80 10% 15%, #eeeeee 15% 20%, #eeeeee80 20% 25%, #eeeeee 25% 30%, #eeeeee80 30% 35%, #eeeeee 35% 40%, transparent 40%), radial-gradient(circle at 0 50%, #eeeeee80 5%, #eeeeee 5% 10%, #eeeeee80 10% 15%, #eeeeee 15% 20%, #eeeeee80 20% 25%, #eeeeee 25% 30%, #eeeeee80 30% 35%, #eeeeee 35% 40%, transparent 40%);
  background-size: 3em 3em;
  background-color: #fff9f9;
  opacity: 1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --pokemon-color: #f5c400;
  --pokemon-color-next: #ffffff;
  --pokemon-color-previous: ;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
  font-size: 12px;
}
h3 {
  padding: 0;
  margin: 0;
}

/* Display Styles */

.pk-display-flex {
  display: flex;
}
.pk-display-flex-column {
  display: flex;
  flex-direction: column;
}

/* End Display Styles */

.pk-spans {
  align-items: center;
  justify-content: center;
  top: 44%;
  position: absolute;
  width: 100%;
  gap: 14.5em;
  z-index: 2;
  cursor: pointer;
}

.pk-container {
  min-width: 100vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
}

.pk-three-cards {
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-width: 100%;
  min-height: 70vh;
  gap: 10px;
}
.pk-previous-card {
  background-image: linear-gradient(
    to bottom,
    var(--pokemon-color-previous) 20%,
    rgba(255, 255, 255) 50%
  );
  height: 367px;
  width: 236.66px;
  border-radius: 7px;
  align-items: center;
  overflow: hidden;
  filter: blur(7px);
}

.pk-previous-card .pk-type-name {
  background-color: var(--pokemon-color-previous);
}

.pk-previous-card .pk-info-buttons button:hover,
.pk-info-buttons button:active {
  background-color: var(--pokemon-color-previous);
}
.pk-previous-card button {
  border-color: var(--pokemon-color-previous);
}

.pk-current-card {
  background-image: linear-gradient(
    to bottom,
    var(--pokemon-color) 20%,
    rgba(255, 255, 255) 50%
  );
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
  min-width: 236.66px;
  height: 367px;
  border-radius: 7px;
  align-items: center;
}
.pk-next-card {
  background-image: linear-gradient(
    to bottom,
    var(--pokemon-color-next) 20%,
    rgba(255, 255, 255) 50%
  );
  height: 367px;
  width: 236.66px;
  border-radius: 7px;
  align-items: center;
  overflow: hidden;
  filter: blur(7px);
}
.pk-next-card .pk-type-name {
  background-color: var(--pokemon-color-next);
}
.pk-next-card .pk-info-buttons button:hover,
.pk-info-buttons button:active {
  background-color: var(--pokemon-color-next);
}
.pk-next-card button {
  border-color: var(--pokemon-color-next);
}

/* Inner Card*/

.pk-name-and-id {
  align-self: baseline;
  padding: 8px;
}
.pk-name-and-id h1 {
  padding-top: 1px;
}
.pk-sprite {
  padding: 10px;
}

.pk-sprite img {
  max-width: 170px;
}

.pk-type {
  padding: 10px 0px;
}
.pk-type-name {
  padding: 0px 7px 2px 7px;
  border-radius: 10px;
  background-color: var(--pokemon-color);
  font-weight: 400;
}
.pk-info-buttons button {
  background: #fff;
  color: #242424;
  cursor: pointer;
  font-size: 10px;
  font-weight: 400;
  padding: 5px 14px;
  z-index: 2;
}

.pk-info-buttons button:hover,
.pk-info-buttons button:active {
  background-color: var(--pokemon-color);
}

.pk-about {
  border-top-right-radius: 0px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 40px;
  border: 1px solid var(--pokemon-color);
}
.pk-status {
  border-top: 1px solid var(--pokemon-color);
  border-right: 0px solid var(--pokemon-color);
  border-bottom: 1px solid var(--pokemon-color);
  border-left: 0px solid var(--pokemon-color);
}

.pk-moves {
  border-top-right-radius: 40px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 0px;
  border: 1px solid var(--pokemon-color);
}

.pk-content-info {
  padding: 23px;
}

.pk-content-info p {
  max-width: 200px;
  text-align: left;
  padding: 6px 0;
}

.pk-status-info {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: -4px;
  padding: 0 3px 0 7px;
}
.pk-status-even {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.pk-status-odds {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pk-moves-names {
  gap: 20px;
}

.pk-moves-left,
.pk-moves-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
/* End Inner Card */

/* Pokeball */

.pk-pokeball img {
  margin-top: -30px;
}
